body {
  margin:0;
  padding:10px;
  background-image: url("./components/images/shattered-island.gif");
  color: azure;
}

h2, h3 {
  text-align: center;
}
a {
  color: azure;
  text-decoration: none;
}
